body {
  font-family: 'Open Sans', sans-serif;
}

#main {
  text-align: center;
}

.record {
  padding: 2%;
  border-bottom: 2px solid black;
}

#load {
  width: 120px;
  height: 40px;
  font-size: 1em;
}

#load:hover {
  background-color: aliceblue;
}

#trips {
  float:left;
  display: inline-block;
}

#details {
  width: 40%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 2%;
}
