body {
  font-family: 'Open Sans', sans-serif;
}

#main {
  text-align: center;
}

.record {
  padding: 2%;
  border-bottom: 2px solid black;
}

.record:first-child {
  border-top: 2px solid black;
}

.main-button {
  width: 120px;
  height: 40px;
  font-size: 1em;
}

#load:hover {
  background-color: aliceblue;
}

#trips {
  float:left;
  display: inline-block;
}

#details {
  width: 40%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 2%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

header {
  background-image: url("resort.jpg");
  height: 100px;
}

#reserve-form {
  margin-top: 2%;
  border: 1px solid black;
  padding: 2%;
}

#reserve-form button {
  margin-top: 2%;
  font-size: .75em;
}
