span {
  font-weight: bold;
}
h1, #trip-load-button {
  margin-left: 3%;
}

.button {
  border: 2px solid darkgreen;
  border-radius: 15px;
  /*padding-left: 10px;*/
  /*padding-top: 10px;*/
  /*margin-bottom: 20px;*/
  background-color: lightgreen;
  color: black;

}
