h1 {
  font-family: 'Anton', sans-serif;
}

body {
  background-color: #A8C6A8;
}

.add-margin {
  margin: 3%;
}

.add-margin-lf {
  margin-left: 3%;
}

.add-padding {
  padding: 2%;
}

.round-edges {
  border-radius: 15px;
}

#add-reservation-form {
  display: none;
  padding: 0%;
  /*changed to display inline later through jquery*/
}


#trip-details {
  background-color: white;
  margin: 0 1% 0 3%;
  /*display: none;*/
}

table {
  text-align: left;
}
